<html>

<head>

<!--LOCAL YUI LOAD-->
<script src="../yui/3.10.1/build/yui/yui-min.js"></script>

<!--LOCAL YUI GALLERY LOAD-->
<script src="../yui/gallery-base64.js" ></script>

<!--LOCAL PURE MIN-->
<link rel="stylesheet" href="../yui/pure/0.1.0/pure-min.css">

<!--LOCAL PURECSS-->
<link rel="stylesheet" href="../css/purecss.io/combo/main.css">
<link rel="stylesheet" href="../css/purecss.io/combo/baby-blue.css">

<!-- css with a parent of yui3-skin-mine -->
<link rel="stylesheet" href="../css/my3.css">

<!-- css with a parent of pure-skin-mine4 -->
<link rel="stylesheet" href="../css/my4.css">

<script>

function init()
{
        YUI( {  filter:'raw',
                combine:false
                //gallery: 'gallery-2012.12.19-21-23'
                }).use( "io-xdr",
                        "json-parse", "json-stringify",
                        "node",
                        'cssfonts', "cssbutton",
                        "datatype",
                        'event', 'event-custom', 'event-mouseenter','event-resize',"event-key",
                        'tabview',
                        'panel',
                        'datatable-base', 'datatable-sort','gallery-datatable-selection',
                        "datatable-scroll",
                        "datatable-message",
                        'dd-plugin',
                        "event-valuechange",
                        "uploader",
                        "button",
                        "gallery-base64",
                        "datatype-date",
                        "querystring-parse",
                        "charts",
        function(Y)
        {
                makepanel(Y);
        });
}

function makepanel(Y)
{
        //      make the panel...
        var panel = new Y.Panel({
                                srcNode      : '#project_summary_parent',
                                headerContent: 'Project Summary',
                                width        : 600,
                                height       : 500,
                                zIndex       : 20,
                                centered     : true,
                                modal        : true,
                                visible      : false,
                                render       : true,
                                plugins      : [Y.Plugin.Drag]
                        });
	panel.show();
}

</script>

</head>

<body class="yui3-skin-mine" onload="init();">

<div id="project_summary_parent" >

	<div id='project_summary_info' >
		<div>
			<textspan style="font-weight:bold;float:left;width:150px;">Project Name:</textspan>
			<textspan style="font-weight:normal;float:left;">{PROJECT_NAME}</textspan>
			<div style="clear:both;width:0px;"></div>
		</div>
		<div style="margin-top:5px;">
			<textspan style="font-weight:bold;float:left;width:150px;">Date Created:</textspan>
			<textspan style="font-weight:normal;float:left;">{PROJECT_DATE_CREATED}</textspan>
			<div style="clear:both;width:0px;"></div>
		</div>
		<div style="margin-top:5px;">
			<textspan style="font-weight:bold;float:left;width:150px;">Client(s):</textspan>
			<textspan style="font-weight:normal;float:left;">{PROJECT_CLIENTS}</textspan>
			<div style="clear:both;width:0px;"></div>
		</div>
		<div style="margin-top:5px;">
			<textspan style="font-weight:bold;float:left;width:150px;">Orders:</textspan>
			<textspan style="font-weight:normal;float:left;">{PROJECT_NUMBER_OF_ORDERS}</textspan>
			<div style="clear:both;width:0px;"></div>
		</div>
	</div>

	<div id='project_wide_format_jobs_info' style="margin-left:10px;margin-top:10px;" >
		<div>
			<textspan style="font-weight:bold;float:left;width:140px;">Order:</textspan>
			<textspan style="font-weight:normal;float:left;">{ORDER_ID}, {ORDER_TYPE}</textspan>
			<div style="clear:both;width:0px;"></div>
		</div>
		<div>
			<textspan style="font-weight:bold;float:left;width:140px;">Files:</textspan>
			<textspan style="font-weight:normal;float:left;">{ORDER_NUMBER_OF_FILES}</textspan>
			<div style="clear:both;width:0px;"></div>
		</div>
		<div>
			<textspan style="font-weight:bold;float:left;width:140px;">Parts:</textspan>
			<textspan style="font-weight:normal;float:left;">{ORDER_NUMBER_OF_PARTS}</textspan>
			<div style="clear:both;width:0px;"></div>
		</div>
	</div>
	
	<div id='project_wide_format_job_part_info' style="margin-left:20px;margin-top:10px;" >
		<div>
			<textspan style="font-weight:bold;float:left;width:130px;">Part:</textspan>
			<textspan style="font-weight:normal;float:left;">
			<img src="{ORDER_THUMBNAIL}" ></img>
			{ORDER_FILENAME}</textspan>
			<div style="clear:both;width:0px;"></div>
		</div>
		<div>
			<textspan style="font-weight:normal;float:left;width:130px;">{PART_MATERIAL}</textspan>
			<div style="clear:both;width:0px;"></div>
		</div>
		<div>
			<textspan style="font-weight:normal;float:left;width:130px;">{PART_DIMENSIONS}</textspan>
			<textspan style="font-weight:bold;float:left;">{PART_COST}</textspan>
			<div style="clear:both;width:0px;"></div>
		</div>
	</div>

</div>

</body>

</html>
